@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

.main-board {
    height: 100vh;
    width: 100vw;
    display: flex;
    text-align: center;
    background-image: url("../images/squareMeshPaper.jpg");
    background-position: center;
    background-attachment: fixed;
}

.game-board {
    height: 100%;
    width: 100%; 
    display: flex;
    flex-direction: column;
}

.solve-and-buttons-table-and-hangman-canvas-container {
    display: flex;
    justify-content: center;
}

@media (max-width: 992px) {

    .solve-and-buttons-table-and-hangman-canvas-container {
        flex-direction: column-reverse;
    }

}



